[Desktop Entry]
Name=FOSPX SYSMON
Comment=Unified System Monitoring Tool
Exec=fospx-sysmon
Icon=fospx-sysmon
Terminal=true
Type=Application
Categories=System;Monitor;ConsoleOnly;
Keywords=task;manager;monitor;system;fospx;sysmon;
StartupNotify=true
